.elements {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .elements {
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .elements {
    max-width: 90%;
  }
}
