.profile__user {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 424px) {
  .profile__user {
    gap: 26px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .profile__user {
    gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .profile__user {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .profile__user {
    gap: 30px;
  }
}
