.popup-img__close-btn {
  background-image: url(../../../images/Close-Icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  position: absolute;
  cursor: pointer;
  transition: 0.2s;
}

.popup-img__close-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .popup-img__close-btn {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}

@media screen and (min-width: 768px) {
  .popup-img__close-btn {
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
  }
}
