.profile__info {
  display: grid;
  grid-template-columns: fit-content(500px) min-content;
  grid-template-areas:
    "name button"
    "about .";
  align-items: baseline;
}

@media screen and (max-width: 424px) {
  .profile__info {
    gap: 5px 10px;
    padding-left: 28px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .profile__info {
    gap: 7px 14px;
    padding-left: 32px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .profile__info {
    gap: 10px 18px;
  }
}
